<ul class="ul-box">
  <li class="user-details">
    <div class="image-box">
      <%= image_tag(@users.photo, class: "user-image") %>
    </div>
    <div class="info-box">
      <h2><%= @users.name %></h2>
      <p>Number of posts: <%= @users.post_count %></p>
    </div>
  </li>
  <li class="li-box">
    <div class="inner-li-box">
      <h2>Bio</h2>
      <p class="p_tags"> <%= @users.bio %> </p>
    </div>
  </li>
  <li>
    <h2 class="single-header">Posts</h2>
    <% if @users.last_three_posts.blank? %>
      <div class="li-box">
        <p class="p_tags inner-li-box">There are no posts available.</p>
      </div>
    <% else %>
      <ul class="posts-box">
        <% @users.last_three_posts.each do |post| %>
        <a href="<%= url_for("/users/#{@users.id}/posts/#{post.id}") %>" >
          <li class="li-box">
            <div class="inner-li-box">
              <h3>Post #<%= post.id %></h3>
              <p class="p_tags"><%= post.body %></p>
              <div class="comments_n_likes">
                <p>Comments: <%= post.comments_counter %>, Likes: <%= post.likes_counter %></p>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
      </a>
      <div class="button_div">
        <a href="<%= url_for(user_posts_path(@users)) %>" class="button">See all posts</a>
      </div>
    <% end %>
  </li>
</ul>